.ador{
    top: 40%;
}
.full-color{
    background:rgb(248, 249, 250);
}
.labu{
    vertical-align: middle;
    width: 404px;
    margin: 5px;
    margin-bottom: 0;
}
.futer{
    background:rgb(33, 37, 41);
    padding: 10px 0;
    margin-bottom: 0;
    font-size: 20px;
    color: #fff;
   
}